<div class="navbar bg-base-100 shadow-md sticky top-0 z-40">
    <div class="navbar-start">
        <div class="dropdown">
            <button tabindex="0" class="btn btn-ghost lg:hidden" @onclick="ToggleNavMenu" title="Navigation menu">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                </svg>
            </button>
            @if (!collapseNavMenu)
            {
                <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                    <li>
                        <NavLink href="" Match="NavLinkMatch.All" @onclick="ToggleNavMenu">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M8 1a.5.5 0 0 1 .5.5v1.307l2.839-1.764a.5.5 0 0 1 .639.134l.146.235A.5.5 0 0 1 11.5 2.5v1h1V2.5a1.5 1.5 0 0 0-2.4-1.2L8.5 2.293V1.5A.5.5 0 0 1 8 1Z"/>
                                <path d="M14 14V4.5L9.5 1 1 9.5V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2Z"/>
                            </svg>
                            Home
                        </NavLink>
                    </li>
                    <li>
                        <NavLink href="counter" @onclick="ToggleNavMenu">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                            Counter
                        </NavLink>
                    </li>
                    <li>
                        <NavLink href="weather" @onclick="ToggleNavMenu">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="currentColor" viewBox="0 0 16 16">
                                <path d="M9.5 16a.5.5 0 0 1-.5-.5V0a.5.5 0 0 1 1 0v15.5a.5.5 0 0 1-.5.5z"/>
                                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8zm0-4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 4zm7 8a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1 0-1h7a.5.5 0 0 1 .5.5z"/>
                            </svg>
                            Weather
                        </NavLink>
                    </li>
                </ul>
            }
        </div>
        <a href="" class="btn btn-ghost text-xl font-bold">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z" />
            </svg>
            Exercise Planner
        </a>
    </div>
    
    <div class="navbar-end hidden lg:flex">
        <ul class="menu menu-horizontal px-1 gap-1">
            <li>
                <NavLink href="" Match="NavLinkMatch.All" class="btn btn-ghost">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 1a.5.5 0 0 1 .5.5v1.307l2.839-1.764a.5.5 0 0 1 .639.134l.146.235A.5.5 0 0 1 11.5 2.5v1h1V2.5a1.5 1.5 0 0 0-2.4-1.2L8.5 2.293V1.5A.5.5 0 0 1 8 1Z"/>
                        <path d="M14 14V4.5L9.5 1 1 9.5V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2Z"/>
                    </svg>
                    Home
                </NavLink>
            </li>
            <li>
                <NavLink href="counter" class="btn btn-ghost">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                    Counter
                </NavLink>
            </li>
            <li>
                <NavLink href="weather" class="btn btn-ghost">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M9.5 16a.5.5 0 0 1-.5-.5V0a.5.5 0 0 1 1 0v15.5a.5.5 0 0 1-.5.5z"/>
                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8zm0-4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 4zm7 8a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1 0-1h7a.5.5 0 0 1 .5.5z"/>
                    </svg>
                    Weather
                </NavLink>
            </li>
        </ul>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
